<h1>Frequently Asked Questions (FAQs)</h1>

<%= paginate @faqs %>
<p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>คำถาม</th>
      <th>คำตอบ</th>
    </tr>
  </thead>
  <tbody>
    <% @faqs.each do |faq| %>
      <tr>
        <td><%= link_to faq.faq_item, faq_path(faq) %></td>
        <td><%= faq.faq_q %></td>
        <td><%= faq.faq_a %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# link_to 'New', new_faq_path, :class => 'btn btn-primary' %>
