<p><b>เรียน อาจารย์<%= @user.fname %></b></p>

<p>
มีคำถามใหม่จาก ICD10Forum รอการตอบ
</p>

<p>
<% url = "http://thcc.or.th:3002/login/consultant/#{@user.id}" %>
Link: <%= link_to 'ตอบคำถาม', url %>
</p>

admin@thcc.or.th




